<div class="container-home">
    <mat-card>
        <h1 class="titulo">
            Bem Vindo(a) ao E-System
        </h1>
        <hr>
        <h2 class="topico">Funcionalidades:</h2>
        <div>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Cadastrar, atualizar e cancelar vendas.</span></h3>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Verificar as cobranças das vendas.</span></h3>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Efetuar a baixa das cobranças.</span></h3>
        </div>
    </mat-card>
</div>

