form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

mat-form-title {
    font-size: 2rem;
}

mat-form-field {
    width: 100%px;
    margin-right: 20px;
}

button {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
}

#gerar-venda {
    margin-right: 10px;
    background-color: #4428AA;
}

#voltar {
    background-color: #525252;
}